*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main, .test{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
}

button{
    padding: 1rem;
    border-radius: 16px;
}

.hide{
    display: none;
}